button{
  @extend a;
  @include appearance( none );
}

button,
.button{
  overflow: hidden;

  height: 40px;
  padding: 0 30px;
  display: inline-block;

  color: $black;
  text-align: center;
  background: none;
  border: thin solid $black;
  line-height: 38px;
  cursor: pointer;
  outline: 0;

  span{
    @include transition( .2s );

    top: -1px;

    height: 100%;
    display: block;

    line-height: 40px;
  }

  &:hover{
    span{
      top: -40px;
    }
  }
}

.button-sec{
  border-color: $grey;
  background-color: $grey;
}

.button-white{
  border-color: $white;

  span{
    color: $white;
  }
}