input,
label{
  @extend p;
}

.woocommerce-account,
.woocommerce-cart,
.woocommerce-checkout{
  form{
    max-width: 1000px;
    margin: auto;
    padding: 50px;

    background-color: $grey-light;
  }

  form input[type="submit"]{
    display: block;
    margin: 50px auto 0;
  }

  form h3{
    margin-bottom: 1em;

    text-align: center;
  }

  form .form-row{
    margin-bottom: 25px;

    label{
      color: $grey-text;
    }

    input{
      width: 100%;
    }
  }

  form fieldset{
    border: none;

    legend{
      padding-top: 1em;
    }
  }
}
