input{
  padding: 8px 0;

  border: none;
  background-color: transparent;
  border-bottom: thin solid $grey;

  &:focus{
    outline: 0;
  }
}

textarea{
  width: 100%;
  max-width: 100%;
  min-height: 100px;
  padding: 15px;
  margin-top: 5px;

  border: none;
  background-color: $white;
}

::-webkit-input-placeholder {color:transparent;}
::-moz-placeholder          {color:transparent;} /* Firefox 19+ */
:-moz-placeholder           {color:transparent;} /* Firefox 18- */
:-ms-input-placeholder      {color:transparent;}

input[type="checkbox"],
input[type="checkbox"] + label,
label.checkbox{
  display: inline-block;
  margin-right: 5px;
  cursor: pointer;
  color: $black !important;
}

input[type="checkbox"]{
  @include appearance( none );

  margin-bottom: 0;
  margin-right: .5em;
  vertical-align: middle;

  width: 18px !important;
  height: 18px;
  margin-bottom: 3px;
  padding: 0;

  background-color: transparent;
  border: thin solid $black;
  cursor: pointer;

  &:checked{
    background: url('https://cdn2.iconfinder.com/data/icons/flat-ui-icons-24-px/24/checkmark-24-512.png');
    background-size: 80%;
    background-position: center center;
    background-repeat: no-repeat;
  }
}

input[type="radio"]{
  @include appearance( none );

  margin-bottom: 0;
  margin-right: .5em;
  vertical-align: middle;

  width: 18px !important;
  height: 18px;
  margin-bottom: 3px;
  padding: 0;

  background-color: transparent;
  border: thin solid $black;
  border-radius: 100%;
  cursor: pointer;

  + label{
    cursor: pointer;
  }
  
  &:checked:after{
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: black;
  }
}