body.single-post{
  article{
    section{
      margin-bottom: 50px;
    }
  }
}

body.single-post article{
  section.image{
    width: calc(100% + #{$space-sides});
    margin-left: -#{$space-sides};
  }

  section.text .section-body{
    margin-left: 0;
  }
}