.arrow{
  width: 15px;

  cursor: pointer;

  // Default direction is down
  &.arrow-right{
    @include transform( rotate(180deg) );
  }

  &.arrow-up{
    @include transform( rotate(225deg) );
  }

  // Used in hero element
  &.arrow-scroll{
    left: 0;
    right: 0;
    bottom: 30px;
    position: absolute;
    z-index: $zIndex-arrow;

    margin: auto;
  }
}

.link-arrow{
  img{
    @include transition( .2s );

    width: 15px;
    margin-left: 10px;
  }

  &:hover,
  &:active{
    img{
      margin-left: 5px;
    }
  }
}