/* Arrows */
.slider-controls{
  @include transform( translate(-50%, -50%) );

  top: 50%;
  left: 50%;
  position: absolute;

  width: 100%;

  a{
    top: 0;
    position: absolute;

    width: 50px;
    height: 50px;

    background-image: url('/content/themes/elements/img/arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15px;

    &.slider-prev{
      left: 0;
      margin-left: 2em;

      &:hover,
      &:focus{
        margin-left: 1.5em;
      }
    }

    &.slider-next{
      @include transform( rotate(180deg) );

      right: 0;
      margin-right: 2em;

      &:hover,
      &:focus{
        margin-right: 1.5em;
      }
    }
  }
}

// Only show arrows when slider is hovered
.section-slider .section-content{
  .slider-controls{
    @include hide( .3s );
  }

  &:hover .slider-controls{
    @include show( .3s );
  }
}