.woocommerce-account{
  nav ul li{
    display: inline-block;
    padding-right: 60px;
  }

  .management-content,
  .woocommerce-MyAccount-navigation{
    padding: 0;
  }

  .woocommerce-MyAccount-navigation{
    max-width: 700px;
    margin: 50px auto 0;
  }

  form{
    max-width: 700px;
    margin: 50px auto 0;
    padding: 50px;

    background-color: $grey-light;
  }

  form.login{
    label[for="rememberme"]{
      display: none;
    }
  }
}

// Containers
.woocommerce-account{
  .woocommerce{
    padding: 0;
  }
}

.woocommerce-edit-account,
.woocommerce-edit-address{
  .woocommerce{
    max-width: none;
    margin: 0;

    background-color: transparent;
  }
}

#customer_login{
  h2{
    margin-bottom: 25px;
  }

  form{
    margin: 0;
    margin-bottom: 50px;
    padding: 25px;

    .woocommerce-password-strength{
      margin-top: 1em;
    }

    .form-row:last-child{
      margin-bottom: 0;
    }
  }
}

// Account overview
.woocommerce-account{
  table.my_account_orders{
    margin: 25px 0 50px;

    td{
      vertical-align: middle;
    }
  }

  .myaccount_user,
  .addresses{
    padding: 25px;

    background-color: $grey-light;
  }

  .myaccount_user{
    margin-bottom: 50px;
  }

  h2{
    text-align: center;
  }

  .myaccount_address{
    margin-bottom: 25px;
    text-align: center;
  }

  .woocommerce-Addresses{
    width: 100%;
    height: auto;
    overflow: hidden;

    .woocommerce-Address{
      width: 50%;
      float: left;

      text-align: left;

      h2{
        text-align: left;
      }

      a{
        text-decoration: underline;
      }
    }

    .col-1{
      padding-right: 5%;
    }

    .col-2{
      padding-left: 5%;
    }
  }
}

// View order
.woocommerce-view-order{
  .management-content{
    padding: 50px;

    background-color: $grey-light;

    .order-info{
      margin-bottom: 25px;
    }

    table{
      margin-bottom: 50px;
    }

    header h2{
      text-align: left;
    }

    table.customer_details{
      width: auto;
      text-align: left;

      td{
        padding: 0;
        padding-left: 10px;

        text-align: left;
      }
    }

    .woocommerce-Addresses{
      padding: 0;

      > div{
        width: 50%;
        float: left;

        h3{
          text-align: left;
          margin-bottom: 15px;
        }
      }
    }
  }
}

@media #{$medium-down}{
  .woocommerce-account{
    nav ul li{
      display: block;
    }

    .management-content,
    .woocommerce-MyAccount-navigation{
      padding: 0 $space-sides;
    }
  }
}

@media #{$small-only}{
  .woocommerce-account{
    .management-content,
    .woocommerce-MyAccount-navigation{
      padding: 0 $space-sides-small;
    }
  }
}