.woocommerce-cart{
  form{
    max-width: none;
    margin: 0;
    padding: 0;
  }

  .woocommerce{
    padding: 0;
  }
}

table.shop_table.cart{
  table-layout: fixed;

  border-bottom: thin solid $grey;

  thead{
    .product-thumbnail{
      width: 30%;
    }

    .product-name{
      width: 30%;
      padding-left: 15px;
    }

    .product-price{
      width: 20%;
      padding-left: 15px;
    }

    .product-quantity{
      width: 20%;
      padding-left: 15px;

      text-align: center;
    }

    .product-subtotal{
      width: 20%;
      text-align: right;
    }
  }

  tbody{
    td{
      padding: 35px 15px;
    }

    .product-remove{
      z-index: 999;

      padding: 0;

      a{
        top: 25px;
        left: -35px;
        position: absolute;

        font-size: 30px;
      }
    }

    .product-thumbnail{
      padding: 15px;
      padding-left: 0;
    }

    .product-name{
      a{
        margin-bottom: 15px;
        display: block;

        font-size: 30px;
        line-height: 25px;
      }

      .variation{
        @include clearfix();

        margin-bottom: 25px;

        dt,
        dd{
          float: left;
          display: inline-block;
        }

        dt{
          clear: left;
          margin-right: 5px;
        }
      }
    }

    .product-quantity{
      padding-right: 0;

      text-align: center;

      .quantity{
        margin-top: -5px;
        margin-bottom: 20px;

        input[type="number"]{
          border: none;
        }
      }

      a,
      input[type="submit"]{
        cursor: pointer;

        &:hover{
          text-decoration: underline;
        }
      }

      input[type="submit"]{
        margin: auto;
        padding: 0;

        border: none;
      }
    }

    .product-subtotal{
      padding-right: 0;
    }
  }
}

.cart-collaterals{
  width: 100%;

  #cart-shipping > div,
  table,
  div.wc-proceed-to-checkout{
    max-width: 500px;
    margin: auto;
  }

  #cart-shipping,
  #cart-totals{
    padding: 30px 0;
    margin-bottom: 0;

    border-bottom: thin solid $grey;
  }

  table{
    tbody{
      th,
      td{
        padding: 5px 0;
      }
    }
  }

  .wc-proceed-to-checkout{
    margin-top: 25px;
    padding: 30px 0;

    text-align: center;
  }
}