table.shop_table.cart{
  thead{
    th{
      padding: 15px;

      color: $grey-text;
      text-align: left;

      &:last-child{
        text-align: right;

      }
    }

    .product-remove{
      padding: 0;
      position: absolute;
    }

    .product-thumbnail{
      width: 30%;
    }

    .product-name{
      width: 30%;
    }

    .product-price{
      width: 20%;
    }

    .product-quantity{
      width: 20%;
    }

    .product-subtotal{
      width: 20%;
    }
  }

  tbody{
    tr.cart_item{
      background-color: $white;
    }

    td{
      padding: 35px 15px;

      text-align: left;
      vertical-align: top;

      &:last-child{
        text-align: right;
      }
    }

    .product-remove{
      z-index: 999;

      padding: 0;

      a{
        top: 25px;
        left: -35px;
        position: absolute;

        font-size: 30px;
      }
    }

    .product-thumbnail{
      padding: 15px;
    }

    .product-name{
      a{
        margin-bottom: 15px;
        display: block;

        font-size: 30px;
        line-height: 25px;
      }

      .variation{
        dt,
        dd{
          width: 50%;
          float: left;
        }
      }
    }

    .product-quantity{
      .incrementer{
        margin-left: -20px;
        margin-top: -5px;
      }
    }

    // Update cart button
    tr:last-child td{
      padding: 15px 0;
    }
  }
}

.cart-collaterals{
  width: 100%;
  max-width: 500px;
  margin: 0 50px;
  padding: 50px;
  float: right;

  background-color: $white;

  h2{
    text-align: left;
    margin-bottom: 25px;
  }

  table{
    width: 100%;
    text-align: left;

    tbody{
      th,
      td{
        padding: 5px 0;
      }
    }
  }

  .wc-proceed-to-checkout{
    margin-top: 25px;
  }
}