.woocommerce-checkout{
  form{
    max-width: 700px;
    margin: 50px auto 0;
    padding: 50px;

    background-color: $grey-light;
  }

  .woocommerce{
    padding: 0;
  }

  // Login message
  .woocommerce-info{
    .showlogin{
      margin-left: 5px;
    }
  }

  // Errors in billing details
  ul.woocommerce-error{
    display: block;
    padding: 0;
    margin: 0;
    margin-bottom: 50px;

    li{
      width: 100%;
    }
  }

  // Checkboxes for account creation and shipping address
  .create-account{
    margin-bottom: 10px !important;
  }

  h3#ship-to-different-address{
    @include flexbox;
    @include flex-direction( row-reverse );
    @include justify-content( flex-end );

    text-align: left;
  }

  // Payment radio buttons
  #payment{
    width: 40%;
    float: right;
    margin-top: 50px;

    li{
      margin-bottom: 15px;

      img,
      a,
      div.payment_box{
        display: none !important;
      }
    }

    .place-order{
      .button{
        margin-top: 0;

        color: $white;
        background-color: $black;
      }
    }
  }
}

.woocommerce-checkout{
  #order_review{
    height: auto;
    overflow: hidden;

    table tfoot{
      tr.shipping td{
        color: transparent;

        span{
          color: $black;
        }
      }
    }
  }
}