body.single-product .product .summary{
  .link-arrow{
    img{
      @include transition( .2s );

      width: 15px;
      margin-left: 10px;
    }

    &:hover,
    &:active{
      img{
        margin-left: 5px;
      }
    }
  }

  p[itemprop="name"],
  div[itemprop="description"],
  .product-download,
  .product-shipping{
    display: inline-block;
    margin-bottom: 25px;
  }

  table.variations{
    margin-bottom: 15px;
  }

  .product-download{
    margin-left: 90px;
  }

  .price small{
    @extend p;
  }

  .button{
    width: 150px;
    float: left;
  }

  .single_add_to_cart_button{
    margin-right: 15px;
  }
}

@media #{$medium-down}{
  body.single-product .product .summary{
    padding: 40px #{$space-sides-small};

    .link-arrow{
      display: none;
    }

    p[itemprop="name"],
    div[itemprop="description"]{
      width: calc(50% - 40px);
      padding-right: 40px;
      clear: both;
      float: left;
    }

    form{
      width: 50%;
      float: right;
    }

    .button{
      width: 45%;
    }
  }
}

@media #{$small-only}{
  body.single-product .product .summary{
    p[itemprop="name"],
    div[itemprop="description"],
    form{
      width: 100%;
      padding-right: 0;
    }
  }
}