body.single-product{
  .product{
    height: 100vh;
    margin-top: -90px;
    padding: 0;
    padding-top: 90px;

    background-color: $grey-light;

    .images{
      width: 60%;
      height: 100%;
      float: right;
      overflow: hidden;
    }

    .summary{
      @include flexbox;
      @include flex-direction( column );
      @include justify-content( space-between );

      width: 40%;
      height: 100%;
      padding: 60px #{$space-sides};
      float: left;
    }
  }

  #product-editorial{
    padding: 0;
  }

  #product-inquiry{
    display: none;
    padding-top: 100px;

    h2{
      margin-bottom: 25px;

      text-align: center;
    }

    form{
      max-width: 700px;
      margin: auto;
      padding: 25px;

      background-color: $grey-light;

      div{
        margin-bottom: 25px;

        h3{
          margin-bottom: 0 !important;

          text-align: left;

          span{
            font-size: inherit;
          }
        }
      }
    }
  }
}

body.single-product .product .images{
  .woocommerce-main-image{
    display: none;
  }

  .slider-images{
    left: 0;

    width: 100%;
    height: 100%;
    padding-bottom: 0;
  }

  img{
    @include transform( translate(0) );

    top: 0;
    left: 0;

    width: auto;
    max-width: none;
    height: 100%;
    display: block;
    margin: auto;
  }

  .slider-controls{
    display: block !important;
  }
}

@media #{$medium-down}{
  body.single-product{
    .product{
      height: auto;
      overflow: hidden;

      .images,
      .summary{
        width: 100%;
      }

      .images{
        .thumbnails{
          height: 0;
          padding-bottom: 70%;

          img{
            width: auto;
            height: 100%;
          }
        }
      }
    }
  }
}