body.single-product .product{
  height: 100vh;
  margin-top: -90px;
  padding: 0;
  padding-top: 90px;

  .images{
    width: 60%;
    height: 100%;
    float: right;

    img{
      width: auto;
      height: 100%;
      display: block;
      margin: auto;
    }
  }

  .summary{
    @include flexbox;
    @include flex-direction( column );
    @include justify-content( space-between );

    width: 40%;
    height: 100%;
    padding: 60px #{$space-sides};
    float: left;
  }
}

body.single-product .product .summary{
  .link-arrow{
    img{
      @include transition( .2s );

      width: 15px;
      margin-left: 10px;
    }

    &:hover,
    &:active{
      img{
        margin-left: 5px;
      }
    }
  }

  p[itemprop="name"],
  div[itemprop="description"],
  table.variations,
  .product-download,
  div[itemprop="offers"]{
    display: block;
    margin-bottom: 25px;
  }

  .single_add_to_cart_button{
    margin-right: 15px;
  }
}