#product-materials{
  text-align: center;

  ul{
    margin-bottom: 60px;

    li{
      @include flexbox;
      @include flex-direction( row );
      @include align-items( center );

      img{
        max-width: 150px;
      }

      p{
        float: left;
        padding-left: 30px;

        text-align: left;
      }
    }

    li:fist-child{
      @include justify-content( flex-start );
    }

    li:nth-child(2){
      @include justify-content( center );
    }

    li:last-child{
      @include justify-content( flex-end );
    }
  }

  > p{
    margin-bottom: 60px;
  }
}

@media #{$medium-down}{
  #product-materials{
    ul{
      li{
        @include flex-direction( column );

        img{
          margin-bottom: 15px;
        }

        p{
          padding-left: 0;
          text-align: center;
        }
      }
    }
  }
}

@media all and (max-width: 750px){
  #product-materials{
    ul{
      li{
        @include flex-direction( row );
        @include justify-content( center !important );

        width: 100%;
        margin-bottom: 50px;

        img{
          margin-bottom: 0;
        }

        p{
          padding-left: 15px;
          text-align: left;
        }
      }
    }
  }
}