body.single-product{
  .product{
    height: 100vh;
    margin-top: -90px;
    padding: 0;
    padding-top: 90px;

    background-color: $grey-light;

    .images{
      @include flexbox;
      @include justify-content( center );
      @include align-items( center );

      width: 60%;
      height: 100%;
      float: right;
      overflow: hidden;
    }

    .summary{
      @include flexbox;
      @include flex-direction( column );
      @include justify-content( space-between );

      width: 40%;
      height: 100%;
      padding: 60px #{$space-sides};
      float: left;
    }
  }

  #product-editorial{
    padding: 0;
  }
}

body.single-product .product .images{
  .woocommerce-main-image{
    display: none;
  }

  .slider-images{
    left: 0;

    width: 100%;
    height: 100%;
    padding-bottom: 0;
  }

  img{
    @include transform( translate(0) );

    top: 0;
    left: 0;

    width: auto;
    max-width: none;
    height: 100%;
    display: block;
    margin: auto;
  }

  .slider-controls{
    display: block !important;
    
    a{
      top: 0;
      position: absolute;

      width: 50px;
      height: 50px;

      background-image: url('/modiste/content/themes/elements/img/arrow.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 15px;

      &.slider-prev{
        left: 0;
        margin-left: 2em;

        &:hover,
        &:focus{
          margin-left: 1.5em;
        }
      }

      &.slider-next{
        @include transform( rotate(180deg) );

        right: 0;
        margin-right: 2em;

        &:hover,
        &:focus{
          margin-right: 1.5em;
        }
      }
    }
  }
}

@media #{$medium-down}{
  body.single-product{
    .product{
      height: auto;
      overflow: hidden;

      .images,
      .summary{
        width: 100%;
      }

      .images{
        img{
          width: 100%;
          height: auto;
        }
      }
    }
  }
}