table.variations{
  position: relative;

  td.label{
    width: 80px;
  }

  div{
    display: inline-block;

    cursor: pointer;
    background-color: $grey;

    input[type="radio"]{
      @include appearance( none );

      padding: 0;
    }

    input[type="radio"]:checked + label{
      text-decoration: underline;
    }

    label{
      cursor: pointer;
      padding: 10px;
      display: inline-block;
    }
  }

  div.option-placeholder{
    @extend p;

    padding: 10px 0;

    text-transform: capitalize;
    background-color: $grey-light;
  }
}