table.variations{
  position: relative;

  td.label{
    width: 80px;
  }

  div{
    padding: 10px;
    display: inline-block;

    cursor: pointer;
    background-color: $grey;

    input[type="radio"]{
      @include appearance( none );
    }

    input[type="radio"]:checked + label{
      text-decoration: underline;
    }

    label{
      cursor: pointer;
    }
  }

  div.option-placeholder{
    @extend p;

    background-color: $grey-light;
  }
}