.woocommerce-order-received{
  .woocommerce{
    max-width: 700px;
    margin: 50px auto 0;
    padding: 50px;

    background-color: $grey-light;
  }

  .woocommerce-thankyou-order-received{
    margin-bottom: 1em;
  }

  h2{
    margin: 25px 0;
  }

  table.customer_details{
    width: auto;
    text-align: right;

    th,
    td{
      padding: 0;

      text-align: left !important;
    }

    td{
      padding-left: 15px;
    }
  }
}