section.module{
  .section-body{
    @include flexbox;

    .module-image,
    .module-text{
      width: 50%;
    }

    // Image
    .module-image{
      padding-right: 50px;

      img{
        width: 100%;
      }
    }

    // Text
    .module-text{
      padding-left: 50px;

      p,
      h2{
        margin-bottom: 1em;
      }
    }

    // Side caption
    .module-caption{
      top: 0;
      left: -100px;
      position: absolute;

      width: 100px;

      p{
        @include transform( rotate(-90deg) translateX(-100%) );

        top: 0px;
        left: 50px;
        position: absolute;

        transform-origin: left;
        white-space: nowrap;
      }
    }
  }

  &.orientated-right{
    .section-body{
      @include flex-direction( row-reverse );

      .module-image{
        padding-right: 0;
        padding-left: 45px;
      }

      .module-text{
        padding-left: 0;
        padding-right: 45px;
      }

      .module-caption{
        left: auto;

        p{
          @include transform( rotate(90deg) translateX(0) );
        }
      }
    }
  }

  &.align-bottom{
    .section-body{
      @include align-items( flex-end );
    }
  }
}

@media #{$medium-down}{
  section.module{
    &.orientated-right,
    &.orientated-left{
      .section-body{
        display: block;

        .module-image,
        .module-text{
          width: 100%;
          padding-left: 0;
          padding-right: 0;
        }

        .module-image{
          margin-bottom: 45px;
        }
      }
    }
  }
}

@media #{$small-only}{
  section.module{
    .module-caption{
      display: none !important;
    }
  }
}