section{
  width: 100%;
  height: auto;
  overflow: hidden;

  background: $grey-light;

  .section-header,
  .section-body{
    clear: both;
  }

  .section-header{
    max-width: 700px;
    margin: auto;
    margin-bottom: $space-section / 2;
  }
}