@font-face{
  font-family: founders;
  src: url(../fonts/FoundersGroteskWeb-Light.woff);
}

@font-face{
  font-family: foundersText;
  src: url(../fonts/FoundersGroteskTextWeb-Light.woff);
}

@mixin founders{
  font-family: founders;
}

@mixin founders-text{
  font-family: foundersText;
}