@import url("//hello.myfonts.net/count/30a5de");

@font-face{
  font-family: founders;
  src: url(../fonts/FoundersGroteskWeb-Light.woff);
}

@font-face{
  font-family: foundersText;
  src: url(../fonts/FoundersGroteskTextWeb-Light.woff);
}

@font-face {
  font-family: 'baskerville', 'serif';
  src: url('../fonts/30A5DE_0_0.eot');
  src: url('../fonts/30A5DE_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/30A5DE_0_0.woff2') format('woff2'),url('../fonts/30A5DE_0_0.woff') format('woff'),url('../fonts/30A5DE_0_0.ttf') format('truetype');
}

@mixin founders{
  font-family: founders;
}

@mixin founders-text{
  font-family: foundersText;
}

@mixin baskerville{
  font-family: baskerville;
}