%base{
  @include founders;

  font-size: 16px;
  font-weight: normal;
}

h1{
  @extend %base;

  font-size: 90px;
  line-height: 0.8;
}

h2{
  @extend %base;

  font-size: 40px;
  line-height: 1.2;
}

h3{
  @extend h2;

  font-size: 30px;
}

p{
  @extend %base;

  font-size: 13px;
  line-height: 1.35;
}

article p,
section.module p,
section.quote p,
.products .product p,
#product-materials p{
  margin-bottom: 1em;

  font-size: 15px;
}

section.module .module-text p{
  @extend %base;
  @include baskerville;

  font-size: 20px;
}

span,
time,
address,
th,
td,
dt,
dd,
li{
  @extend %base;

  font-size: 13px;
  line-height: 1.35;
}

legend{
  @extend h3;
}

.founders-15{
  @extend %base;

  font-size: 15px;
  line-height: 1.35;
}