%base{
  @include founders;

  font-size: 16px;
  font-weight: normal;
}

h1{
  @extend %base;

  font-size: 90px;
  line-height: 0.9;
}

h2{
  @extend %base;

  font-size: 40px;
  line-height: 1.2;
}

p{
  @extend %base;

  font-size: 15px;
  line-height: 1.35;
}

article p{
  margin-bottom: 1em;

  font-size: 18px;
  line-height: 1.6;
}

span,
time{
  @extend %base;

  font-size: 15px;
  line-height: 1.35;
}